<!DOCTYPE html>
  <html>
    <head>
      <meta charset='utf-8'>
      <title>Car Lot</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class="container">

      <h1>Choose an Action</h1>
      <div class="container">
        <p><a href="/Cars/new">Add a new car</a></p>
        <p><a href="/Cars">See existing cars</a></p>

      </div>
      </div>
    </body>
    </html>
